* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #000;
}

:root {
    --white: #FFFFFF;
    --light-gray: #EAEAEA;
    --red: #E9002D;
    --dark-gray: #3A3A3A;
    --black: #000000;
}

.page-bg {
    position: relative;
    min-height: calc(100vh - 150px);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('../assets/carwash1.jpg') center/cover no-repeat;
}

.page-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(0px);
    z-index: 0;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px);
    padding: 40px 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    position: relative;
    z-index: 1;
}

.container {
    background: var(--white);
    width: 420px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border-top: 6px solid var(--red);
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
}

label {
    display: block;
    color: var(--dark-gray);
    font-size: 14px;
    margin-bottom: 6px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid var(--light-gray);
    background: var(--white);
    transition: 0.25s ease;
}

input:focus, textarea:focus {
    border-color: var(--red);
    outline: none;
    box-shadow: 0 0 5px rgba(233, 0, 45, 0.3);
}

textarea {
    resize: none;
    height: 75px;
}

.btn {
    width: 100%;
    padding: 14px;
    background: var(--red);
    border: none;
    border-radius: 6px;
    color: var(--white);
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
}

.btn:hover {
    background: var(--dark-gray);
}

.login-link {
    text-align: center;
    margin-top: 18px;
    font-size: 14px;
}

.login-link a {
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

/*Error message css*/
.error-message {
    background: #FFE1E8;
    color: #E9002D;
    border: 1px solid #E9002D;
    padding: 12px 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    animation: fadeInError 0.4s ease;
}

@keyframes fadeInError {
    from { opacity: 0; transform: translateY(-5px); }
    to   { opacity: 1; transform: translateY(0); }
}
